@{
    ViewData["Title"] = "Social Network";
}

<div class="row">
    <div class="col-md-4">
        <h2>View</h2>
        <ul>
            <li><a asp-controller="Users" asp-action="Index">All users</a></li>
            <li><a asp-controller="Updates" asp-action="Feed">Updates feed</a></li>
            <li><a asp-controller="Circles" asp-action="Index"> Circles</a></li>
            <li>User wall</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Create</h2>
        <ul>
            <li>Create update</li>
            <li>Create circle</li>
            <li>Create blocked list</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Comment</h2>
        <ul>
            <li>Add comment to post</li>
        </ul>
    </div>
</div>
