@{
    ViewData["Title"] = "Social Network";
}

<div class="row">
    <div class="col-md-6">
        <h2>How to test YaDizni Social Network</h2>
        <ul>
            <li>See a feed of all public updates</li>
            <li>See the full list of users</li>
            <li>Choose to visit as other user or the same user</li>
            <li>If you choose other user</li>
            <ul>
                <li>Posts and visiblity will be filtered by privacy and circles</li>
                <p1>(This did not work. Only public posts can be seen)</p1>
                <li>You can add comments to already existing posts</li>
                <p1>(Only public posts)</p1>
                <li>You can choose to follow/unfollow or block</li>
            </ul>
            <li>If you choose same user</li>
                <ul>
                    <li>You can create a post</li>
                    <li>You can add comments to already existing posts</li>
                </ul>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>User list</h2>
        <ul>
            <li><a asp-controller="Users" asp-action="Index">List of all users</a></li>
            <li><a asp-controller="Updates" asp-action="VisitFeed">Public updates feed</a></li>
        </ul>
    </div>
</div>
