@model DAB3_Assignment.Models.Update

<h4>Update</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Author.ID" class="control-label">Posting as Abdallah Ajjawi </label>
                <input asp-for="Author.ID" class="form-control" value="5de8f0b21defc205e0d5a78e" />
                <span asp-validation-for="PostType" class="text-danger"></span>
            </div>
            <input asp-for="Author.Name" class="form-control" value="Abdallah Ajjawi" />
            <div class="form-group">
                <label asp-for="PostType" class="control-label">Choose post type</label>
                <select asp-for="PostType" class="form-control" id="postTypeField" onchange="HandlePostTypes()">
                    <option value="Text">Text</option>
                    <option value="Picture">Picture</option>
                </select>
                <span asp-validation-for="PostType" class="text-danger"></span>
            </div>
            <div class="form-group" id="urlField" style="display: none;">
                <label asp-for="Url" class="control-label">A link to your picture</label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label">What is on your mind?</label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="CreationTime" class="form-control" value="@DateTime.Now" readonly />
                <span asp-validation-for="CreationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Post update" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
