@model IEnumerable<DAB3_Assignment.Models.Update>

<h2>Updates</h2>

@foreach (var update in Model)
{
    <hr />
    <h3>@Html.ActionLink(update.Author.Name, "Wall", "Users", new { id = update.Author.ID })</h3>
    <p>@update.CreationTime</p>
    <h4>@update.Content</h4>
    <hr />
}